@import "../../styles.scss";
.inputContainer {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 56px;
  background-color: $active_white;
  padding: 8px 50px;
  box-sizing: border-box;
  margin-bottom: 30px;
  position: relative;
}

.input {
  background-color: transparent;
  border: 0;
  outline: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: $Roboto;
  font-style: normal;
  letter-spacing: 0.15px;
}
.inputName {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: $title_black;
}

.succeessImg {
  visibility: visible;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
}
.succeessImg.Success {
  background: url("../../assets/icons/success.png");
}

.errorText {
  font-family: $Roboto;
  font-style: normal;
  font-weight: normal;
  color: $red;
  font-size: 14px;
  line-height: 12px;
  position: absolute;
  bottom: -15px;
  visibility: hidden;
}
.errorText.Error {
  visibility: visible;
}
