
body{
    margin: 0px;
    font-family: "Roboto";
    font-style: normal;
}
h1,
h2,
h3,
p{
    margin: 0;
}

.arrow
{
    height: 30px;
    background-color: transparent;
    border: 0;
    padding: 0;
}
.arrow:hover
{
    cursor: pointer;
}
.button
{
    width: 245px;
    height: 55px;
    background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
    border-radius: 3px;
    border: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
 
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;

    outline: none;
    text-transform: uppercase;
    cursor: pointer;

    color: #FFFFFF;
}
.button:hover{
    background: linear-gradient(106.89deg, tomato -14.32%, #49D6DF 100.68%);
}
.progress-bar
{
    margin-top: 29px;
    margin-bottom: 33px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 28px;
    color: rgba(189, 189, 189, 0.57);
    text-align: center;

    
}

.progress-bar__slider
{
    -webkit-appearance: none; 
    background: rgba(189, 189, 189, 0.57);
    width: 245px;
    height: 5px;
    outline: none; 
}

.progress-bar__slider::-webkit-slider-thumb
{
    -webkit-appearance: none;
    background: #FEFEFE;
    width: 30px;
    height: 10px;
    cursor: pointer;
}

.progress-bar__slider-count
{
    
    color: rgba(189, 189, 189, 0.57);
    color: #FEFEFE;
    font-size: 24px;
}

/* Header
==========*/
.header
{
    background-color: #333333;
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
   
}
.header__wrapper
{
    max-width: 1620px;
    padding: 0 150px;

    height: 94px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo__title
{

    font-weight: 900;
    font-size: 36px;
    line-height: 28px;
    color: #FEFEFE;

    text-decoration: none;
    display: flex; 
    flex-direction: column;
}
.logo__title:hover
{
    color: tomato;
}

.logo__subtitle
{
    font-size: 18px;
    text-transform:lowercase;
    line-height: 18px;
    letter-spacing: 0.08em;
}


.nav__items
{
    display: flex;
    list-style-type: none;
    margin-top: 20px;
    padding-inline-start: 0px;
    gap:83px ;

}
.nav__link
{  
    
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FEFEFE;
    text-decoration:none;
}
.nav__link:not(.nav__link_active):hover
{
    color: tomato;
}
.nav__link_active
{
    font-weight: 900;
    border-bottom: 1px solid #FEFEFE;
    cursor: default;
}


.header__switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 30px;
}


.header__switch input 
{
    display:none;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #4F4F4F;
  border-radius: 190px;
  -webkit-transition: .4s;
  transition: .4s;
}


.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 28px;
  bottom: 5px;
  background: #1B1B1B;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
    background: #F2F2F2;
}


input:checked + .slider:before {
    background: #FFFFFF;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(-24px);
}
#burger__toggle{
 display: none;
}

.burger__button{
    display: none;
    cursor: pointer;
    position: absolute;
    align-items: center;
    right: 20px;
    top: 26px;
    width: 40px;
    height: 40px;
    z-index: 4;
}
.burger__button span{

    position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition: 0.2s;
}

#burger__toggle:checked ~ .header__items{
    visibility: visible;
    right: 0%;
    overflow: hidden;
}

.burger__button  span:first-child {
    content: '';
    top: 10px;
  }
  

.burger__button  span:last-child {
  content: '';
  top: 28px;
  left:  7px;
  width: 33px;
  float: right;
}

#burger__toggle:checked ~ .burger__button span:nth-child(2){
    transform: rotate(-45deg);

}
#burger__toggle:checked ~ .burger__button span:first-child{
    top: 19px;
    transform: rotate(45deg);
}
#burger__toggle:checked ~ .burger__button span:last-child{
    opacity: 0;
}
@media  (max-width:1100px){
    .header__items{
        gap: 40px;
    }

}
@media  (max-width:900px){

    .header__wrapper{
        padding: 0  20px;
        height: 92px;
      }

}
@media  (max-width:700px){
    .header__items{
        display: flex;
        visibility: hidden;
        position: fixed;
        top: 7%;
        right: -100%;
        width: 100%;
        height: 95%;
        background-color: #333333;
        z-index: 3;

        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
        transition: .4s;
        
    }
    .header__items .nav__link{
        font-size: 26px;
        line-height: 24px;
    }
    .burger__button{
        display: flex;
    }
    .header__wrapper{
        padding: 0 94px  0  20px;
        height: 94px;
      }
      .header{

          position: fixed;
          z-index: 5;
          width: 100%;
      }
      main {
          padding-top: 94px ;
      }

}
@media  (max-width:500px){
    
    .header__wrapper{
        padding: 0 75px  0  10px;
        height: 92px;
    }
    .burger__button{
        right: 10px;
    }
    main {
        padding-top: 92px ;
    }

}


/*  Map
=======================*/


.map
{
    background-color: #4F4F4F;
}

.map__wrapper
{
   
    margin: 0 auto;
    padding: 0 205px;
    padding-top: 60px;
    padding-bottom: 200px;
    text-align: center;
}
.map__title
{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    /* base */

    color: #FEFEFE;
    margin-bottom: 20px;
}

.map__text
{
    max-width: 790px;
    margin: 0 auto;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    /* Gray 6 */

    color: #F2F2F2;
    text-align: left;
    margin-bottom: 50px;

}
.map__slider
{
    max-width: 1200px;
    margin: 0  auto;
    margin-bottom:  30px;
    display: flex;
    align-items: center;
}

.slider__wrapper
{
    max-width: 1150px;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 0 20px;
  
}
.pet{
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 108px;
    width: 108px;
    margin: 0 15px;
    transition: .2s;

}
.pet:not(.pet_active):hover{
    transform: scale(1.26);
    cursor: pointer;
}

.pet_active
{
    min-width: 157px;
    min-height: 157px;
    background: url("../../assets/images/circle.png") center no-repeat;

    margin: auto 0px;
   
}
.pet__img{
    height: 108px;
    width: 108px;
}
.pet__img_active
{
   min-width: 137px;
    min-height: 137px;
    border-radius: 1000px;
    background: black;

}
.progress-bar
{
    margin-top: 29px;
    font-weight: 900;
    font-size: 14px;
    line-height: 28px;
    color: rgba(189, 189, 189, 0.57);
    text-align: center;

    
}

.progress-bar__slider
{
    -webkit-appearance: none; 
    background: rgba(189, 189, 189, 0.57);
    width: 245px;
    height: 5px;
    outline: none; 
}

.progress-bar__slider::-webkit-slider-thumb
{
    -webkit-appearance: none;
    background: #FEFEFE;
    width: 30px;
    height: 10px;
    cursor: pointer;
}

.progress-bar__slider-count
{
    
    color: rgba(189, 189, 189, 0.57);
    color: #FEFEFE;
    font-size: 24px;
}

.map__geogr-map{
    margin: 0 auto;
    max-width: 1200px;
}
.geogr-map__wrapper
{
    position: relative;
}
.map__img
{
    width: 100%;
    max-width: 1200px;
   
}




.placeholder-img
{
    fill: url(#paint0_linear);
    height: 94px;
    width: 67px;
    top: 0;
    left: 0;

}

.geogr-map__placeholder
{
    position: absolute; 
    
}

.placeholder_eagle
{
    top: calc(33% - 93px);
    left: calc(13.3% - 40px)
    
}
.placeholder_panda
{
    top: calc(37% - 93px);
    left: calc(76.9% - 40px)

}
.placeholder_alligator
{
    top: calc(37.7% - 93px);
    left: calc(23.2% - 40px)
}
.placeholder_gorilla
{
    top: calc(56% - 93px);
    left: calc(50.5% - 40px)
}
.placeholder__img
{

    position: absolute;
    top: 13px;
    left: 20px;
}
.map__button
{
    margin: 0 auto;
    margin-top: 32px;
}
.tooltip__pit-img
{
    height: 65px;
    width: 65px;
}
.geogr-map__placeholder:hover
{
    cursor: pointer;
}


.geogr-map__placeholder:hover .placeholder-img:not(.placeholder_active-img)
{
    animation-name: fillAnimation;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}
.placeholder_active-img{
    fill: #EB5757;
}

@keyframes fillAnimation {
    from {
        fill: #49D6DF;
    }
    to {
        fill:#EB5757;
    }
}


.map__progress-bar 
{
    margin-bottom: 85px;
}



@media  (max-width:1180px){

    .map__wrapper{
        padding: 60px 20px 100px;
    }


}

@media  (max-width:1630px)  {
    .slider__wrapper{
       max-width: 985px;
    }

        .map__slider{
        max-width: 1062px;
    }
}
@media  (max-width:1480px)  {
    .slider__wrapper{
       max-width: 847px;
    }
    
    .map__slider{
        max-width: 924px;
    }
    
}
@media  (max-width:1350px)  {
    .slider__wrapper{
       max-width: 710px;
    }

        .map__slider{
        max-width: 790px;
        margin-bottom: 20px;
    }
    .map__text{
        margin-bottom: 35px;
    }
    .map__progress-bar{
        margin-top: 0px;
        margin-bottom: 45px;
    }
    .map__wrapper{
        padding-bottom: 100px;
    }


    .placeholder-img {
        width: 58px;
        height: 83px;
    }
    .placeholder__img {
        width: 35px;
        height: 35px;
        top: 10px;
        left: 15px;
    }




    .placeholder_panda {
        top: calc(37% - 83px);
        left: calc(76.9% - 30px);
    }
    .placeholder_eagle{
        top: calc(33% - 83px);
        left: calc(12.5% - 30px)    
    }

    .placeholder_alligator{
        top: calc(36.7% - 83px);
        left: calc(22.8% - 30px)
    }
    .placeholder_gorilla{
        top: calc(56% - 83px);
        left: calc(50.3% - 30px)
    }
}   
@media  (max-width:840px)  {

    .slider__wrapper{
        max-width: 572px;
     }
 
     .map__slider{
         max-width: 652px;
     } 
     


    .placeholder__img{
        width: 43px;
        height: 43px;
        top: 10px;
        left: 15px;
    }
    .placeholder-img{
        height: 94px;
        width: 67px;
    
    }
        .placeholder_eagle{
        top: calc(35% - 93px);
        left: calc(14.8% - 40px)
        
    }

    
    .placeholder_panda
    {
        top: calc(37% - 93px);
        left: calc(76.9% - 40px)

    }
    .placeholder_alligator
    {
        top: calc(37.7% - 93px);
        left: calc(23.2% - 40px)
    }
    .placeholder_gorilla
    {
        top: calc(56% - 93px);
        left: calc(50.5% - 40px)
    }

}  
@media  (max-width:690px)  {

        .pet{
            margin: 0 7.5px;
        }

        .slider__wrapper{
            max-width: 540px;
            margin: 0;
         }
     
         .map__slider{
             max-width: 580px;
         } 
          .map__wrapper{
             padding-bottom: 80px;
         }
         .map__progress-bar{
            margin-bottom: 26px;
        }
        .map__button{
            margin-top: 33px;
        }
}  
@media  (max-width:630px)  {


    .slider__wrapper{
        max-width: 417px;
        margin: 0;
     }
 
     .map__slider{
         max-width: 457px;
     } 
    }

@media  (max-width:1500px) and (min-width:690px)  {


    .map__button {
        margin-top: 35px;
    }

}
@media  (max-width:1500px){


    .map__img{
       aspect-ratio: 2.06/1;
    }


}


@media  (max-width: 600px){

    .map__wrapper{
        padding: 35px 10px  60px ;
    }
    .map__title{

        font-size: 24px;
        line-height: 28px;
        margin-bottom: 10px;
    }
    .map__text{
        font-size: 12px;
        line-height: 14px;
        margin: 0  10px;
        margin-bottom:30px;
    }

    .map__slider{
        margin-bottom: 3px;
    }
    .map__progress-bar{
       margin-bottom: 28px;
   }
    .placeholder-img {
        width: 33px;
        height: 46px;

    }
    .placeholder__img {
        width: 19px;
        height: 19px;
        top: 8px;
        left: 11px;
    }




    .placeholder_panda {
        top: calc(37% - 45px);
        left: calc(76.9% - 19px);
    }
    .placeholder_eagle{
        top: calc(33% - 45px);
        left: calc(13.3% - 19px)    
    }

    .placeholder_alligator{
        top: calc(36.7% - 45px);
        left: calc(22.4% - 19px)
    }
    .placeholder_gorilla{
        top: calc(54% - 45px);
        left: calc(49.6% - 19px)
    }

    .map__button{
        margin-top: 31px;
    }

}

@media  (max-width:500px)  {

    .pet__img{
        width: 60px;
        height: 60px;

    }
    .pet_active{
       background-size: 85px  85px;
       min-width: 85px;
       min-height: 85px;
       margin: 0;
    }
    .pet__img_active{
        min-width: 75px;
        min-height: 75px;
    }
    .slider__wrapper{
        max-width: 230px;

     }
 
     .map__slider{
         max-width: 270px;
     } 
}



/*  Footer
=======================*/

.footer
{
    background-color: #333333;
    position: relative;
}


.footer__wrapper
{
    max-width: 1620px;
   padding: 0 150px;
    padding-top: 97px;
    margin: 0 auto;
    position: relative;
}
.footer__info
{

    max-width: 1200px;
    margin-right: 60px;
    
}

.footer__items{
    gap:73px
}
.footer__logo_and_nav
{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}
.footer__form
{
  margin-top: 60px;
  width: 383px;
  margin-right: 75px;
  
}

.footer__contact
{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    
}
.footer__logo
{
    max-width: 58px;
}
.contact-us__field
{
    width: 383px;
    height: 35px;
    background-color: transparent;
    margin-bottom: 10px;
    padding: 0;
    border: 0px;
    border-bottom: 1px solid #BDBDBD;


    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #E0E0E0;
    outline: none;
}

.contact-us__title
{
    margin-bottom: 23px;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    

    /* base */

    color: #FEFEFE;
}

.fieldset__message
{

    font-weight: normal;
    font-size: 12px;
    line-height: 14px;


    color: #BDBDBD;
    
    margin:12px 0;

    padding: 0 3px;
    border-radius: 3px;
}

.contact-us__message
{
    
    height: 103px;
    width: 370px;
    padding: 0;
    margin: 0;  
    border: 0;
    outline: none;
    background-color: transparent;
    resize: none;


    font-weight: normal;
    font-size: 12px;
    line-height: 14px;



    color: #BDBDBD;
}

.social__items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
    .checkbox__wrapper
    {
        margin-top: 25px;
        display: flex;
    }

  
  .contact-us__checkbox
   {
    appearance: none;
    -webkit-appearance: none;
    content: '';
    width: 13px;
    height: 13px;

    border: 1px solid #838383;
    border-radius: 1px;
    background-color: transparent;
    cursor: pointer;
    outline: none;

    margin: 0px;
    margin-right: 5px;
  }

  .contact-us__checkbox:checked
  {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e")
  }

    .checkbox__text
    {
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #BDBDBD;
    }
  .contact-us__checkbox:checked::after
  {
      display: block;
  }


.contact-us__button
{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    padding-right: 15px;
    color: #FEFEFE;
    background: transparent;
    width: 125px;
    justify-content: space-between;
    float: right;
}
.contact-us__button:hover
{
    background: transparent;
}
.footer__adress
{
    padding-top: 4px;
    width: 375px;
}

.footer__button
{
    margin-top: 3px;
    width: 275px;
    font-weight: 500;
}

.footer__button_first{
    position: absolute;
    top: 96px;
    right: 150px;
}
.footer__button_second{
    margin-top: 35px;
    display: none;
}


.adress
{
    max-width: 190px;
}

.adress__title
{
    margin-top: 57px;
    margin-bottom: 30px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    /* base */

    color: #FEFEFE;
    }


    .adress__text
    {
        margin-bottom: 17px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;

        /* base */

        color: #FEFEFE;
    }

    .adress__contact
    {
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-decoration: none; 
        /* base */

        color: #FEFEFE;
    }

    .social{
        margin-top: 20px;
    }

    .footer__social
    {
        display: flex;
        
    }
    .footer__link
    {
         margin-left: 15px;
    }
    .social__link:hover
    {
        cursor: pointer;
    }
    .social__link:first-child
    {
        margin: 0;
    }


    .footer__copyright{
        margin-top: 40px;
        border-top: .5px solid #FEFEFE;
        padding-top: 25px;
        height: 107px;
    }
    .copyright__text{
        margin-top: 5px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;

        color: #BDBDBD;
    }

    @media  (max-width:1000px){
        .footer__contact,
        .footer__items {
            flex-direction: column;
            margin-top: 29px;
            gap: 5px;
        }
        .footer__contact{
            margin-top: 0px;
        }
        .footer__logo_and_nav{
            display: block;
        }
        .footer__adress{
            max-width: 200px;
            padding-top: 7px;
        }
        .footer__button_first{
            display: block;
            right: 20px;
            top: 93px;
        }
        .footer__button_second{
            display: none;
        }
        .footer__form{
            margin-top: 6px ;
        }

        .footer__copyright{
            margin-top: 65px;
            height: 84px;
        }
        .contact-us__title{
            margin-bottom: 28px;
        }
        .checkbox__wrapper{
            margin-top: 20px;
        }
        .footer__adress {
            padding-top: 7px;
        }
    }

    @media  (max-width:1180px){
        .footer__wrapper{
            padding: 0 21px;
            padding-top: 93px;
        }
        .adress__title{
            margin-top: 45px;
        }
    }
    @media  (max-width:460px){
        .footer__wrapper{
            padding: 0 10px;
            padding-top: 45px;
        }
        .footer__form,
        .contact-us__field{
            width: 299px;
        }
        .footer__form{
            margin-top: 9px;
        }
        .contact-us__message{
            width: 286px;
        }
        .footer__button_first{
            display: none;
        }
        .footer__button_second{
            margin-top: 40px;
            margin-left: 14px;
            display: block;
        }
        .footer__nav{
            margin-top: 42px;
        }
        .adress__title {
            margin-top: 25px;
        }   
        .footer__copyright {
            margin-top: 78px;
            height: 65px;
        }
        .contact-us__button {

            padding-right: 0;
            width: 110px;
         }
         .contact-us__title{
            margin-bottom: 24px;
        }
    }


    @media  (max-width:1780px) and (min-width: 1000px){

        .footer__button_first{
            display: none;
        }
        .footer__button_second{
            display: block;
        }
        .footer__wrapper{
            padding-top: 100px;
        }
        .footer__form {
            margin-top: 57px;
        }
        .contact-us__title {
            margin-bottom: 26px;
    }
    .adress__title {
        margin-top: 39px;
        margin-bottom: 30px;

        
    }
    .footer__adress {
        width: 380px;
    }
    .checkbox__wrapper{
        margin-top: 19px;
    }

}
    @media  (max-width:1500px) and (min-width:1000px) {

        .footer__copyright{
            height: 91px;
            margin-top: 45px;
        }

    }