.inputSubmit {
  background-color: #ffffff;
  width: 110px;
  height: 36px;
  color: #ffffff;
  background-color: #2196f3;
  text-transform: uppercase;
  padding: 0 16px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
