body{
    margin: 0px;
    font-family: "Roboto";
    font-style: normal;
}
html[data-theme="dark"]{
    color: #FEFEFE;
    --color: #FEFEFE;
    --color-text: #F2F2F2;
    --bg-first: #333333;
    --bg-second: #4F4F4F;
    --bg-third: #3C3C3C;
    --color-fill:#E1E1E1;
    --color-fillActive:#333333;
    --color-stroke:#FEFEFE;

}

html[data-theme="light"]{
     color: #333333;
    --color: #333333;
    --color-text: #4F4F4F;
    --bg-first: #FFFFFF;
    --bg-second: #F2F2F2;
    --bg-third: #FEFEFE;
    --color-fill:#333333;;
    --color-fillActive:#DADADA;
    --color-stroke:#333333;
}
h1,
h2,
h3,
p{
    margin: 0;
}

.arrow
{
    height: 30px;
    width: 17px;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none;
    fill: var(--color);
    cursor: pointer;
}
.arrow_right{
    transform: rotate(180deg);
}
.arrow:hover
{   

    cursor: pointer;
}

.button
{
    width: 245px;
    height: 55px;
    background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
    border-radius: 3px;
    border: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
 
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #FEFEFE;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
}
.button:hover
{
    background: linear-gradient(106.89deg, tomato -14.32%, #44c8d1 100.68%);
}
.progress-bar
{
    font-weight: 900;
    font-size: 14px;
    line-height: 28px;
    color: rgba(189, 189, 189, 0.57);
    text-align: center;
}

.progress-bar__slider
{
    -webkit-appearance: none; 
    background: rgba(189, 189, 189, 0.57);
    width: 245px;
    height: 5px;
    outline: none; 
}

.progress-bar__slider::-webkit-slider-thumb
{
    -webkit-appearance: none;
    background: var(--color);
    width: 30px;
    height: 10px;
    cursor: pointer;
}

.progress-bar__slider-count
{
    color: var(--color-text);
    font-size: 24px;
}
.progress-bar__value
{
    line-height: 20px;
}
/* Header
==========*/

.header
{
    background-color: var(--bg-first);
   
}
.header__wrapper
{
    max-width: 1620px;
    padding: 0 150px;

    height: 94px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo__title
{

    font-weight: 900;
    font-size: 36px;
    line-height: 28px;

    text-decoration: none;
    display: flex; 
    flex-direction: column;
    color: var(--text);
}

.logo__title:hover
{
    color: tomato;
}

.logo__subtitle
{
    font-size: 18px;
    text-transform:lowercase;
    line-height: 18px;
    letter-spacing: 0.08em;
}


.nav__items
{
    display: flex;
    list-style-type: none;
    margin-top: 20px;
    padding-inline-start: 0px;
    gap:83px ;

}
.nav__link
{  
    
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration:none;
    color: var(--text);
}
.nav__link:not(.nav__link_active):hover
{
    color: tomato;
}
.nav__link_active
{
    font-weight: 900;
    border-bottom: 1px solid var(--color);
    cursor: default;
}


.header__switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 30px;
}


.header__switch input 
{
    display:none;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #F2F2F2;
  border-radius: 190px;
  -webkit-transition: .4s;
  transition: .4s;
}


.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 5px;
  background: #FFFFFF;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
    background: #4F4F4F;
}


input:checked + .slider:before {
    background: #1B1B1B;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
    transform: translateX(24px);
}
#burger__toggle{
 display: none;
}

.burger__button{
    display: none;
    cursor: pointer;
    position: absolute;
    align-items: center;
    right: 20px;
    top: 26px;
    width: 40px;
    height: 40px;
    z-index: 4;
}
.burger__button span{

    position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color);
  transition: 0.2s;
}

#burger__toggle:checked ~ .header__items{
    visibility: visible;
    right: 0%;
    overflow: hidden;
}

.burger__button  span:first-child {
    content: '';
    top: 10px;
  }
  

.burger__button  span:last-child {
  content: '';
  top: 28px;
  left:  7px;
  width: 33px;
  float: right;
}

#burger__toggle:checked ~ .burger__button span:nth-child(2){
    transform: rotate(-45deg);

}
#burger__toggle:checked ~ .burger__button span:first-child{
    top: 19px;
    transform: rotate(45deg);
}
#burger__toggle:checked ~ .burger__button span:last-child{
    opacity: 0;
}
@media  (max-width:1100px){
    .header__items{
        gap: 40px;
    }

}
@media  (max-width:900px){

    .header__wrapper{
        padding: 0  20px;
        height: 92px;
      }

}
@media  (max-width:700px){
    .header__items{
        display: flex;
        visibility: hidden;
        position: fixed;
        top: 7%;
        right: -100%;
        width: 100%;
        height: 95%;
        background-color: var(--bg-first);
        z-index: 3;

        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
        transition: .4s;
        
    }
    .header__items .nav__link{
        font-size: 26px;
        line-height: 24px;
    }
    .burger__button{
        display: flex;
    }
    .header__wrapper{
        padding: 0 94px  0  20px;
        height: 94px;
      }
      .header{

          position: fixed;
          z-index: 5;
          width: 100%;
      }
      main {
          padding-top: 94px ;
      }

}
@media  (max-width:500px){
    
    .header__wrapper{
        padding: 0 75px  0  10px;
        height: 92px;
    }
    .burger__button{
        right: 10px;
    }
    main {
        padding-top: 92px ;
    }

}
/* Watch online
==========*/

.watch-online
{
    
    background: var(--bg-second) url("../../assets/images/watch-online-bg.jpg")  no-repeat center ;
}

.info__wrapper
{
    max-width: 1200px;
    margin: 0 auto;

    padding: 0 150px;
}
.watch-online__wrapper{
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    height: 940px;
    overflow-x: hidden;
    
}
.watch-online__title
{
    max-width: 790px;
    padding-top: 205px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 89px;
    line-height: 104px;
    color: #FEFEFE;
}


.watch-online__button
{
    margin-top: 38px;
}

.watch-online__social
{
    position: absolute;
    top: 700px;
    left: 150px;
}

.social__items
{
    list-style-type: none;
    padding: 0;
    margin: 0;

}
.watch-online__link
{
    margin-top: 10px;
}



.slider__wrapper
{
    display: flex;
}
.watch-online__slider-wrapper
{
    height: 400px;
    align-items: center;
    gap: 46px;
    transition: 0.5s all;
}
.watch-online__slider
{
    position: absolute;
    right: -605px;
    top: 385px;
    z-index: 2;
    overflow: hidden;
}
.pet
{
    position: relative;
    overflow: hidden;
}

.pet.pet:not(.pet_active, .pets__pet){
    cursor: pointer;
}

.pet__details
{
    transform: translateY(150px);
    
}

.pet:hover .pet__details
{
    
    transform: translateY(5px);
    transition: all 0.3s linear;
    opacity: 1;
    
}
.pet:not(.pets__pet):hover .pet__img
{
    height: 352px;
    width: 245px;
    filter: brightness(40%);
   
}

.pet_active .pet__img{
    height: 352px;
    width: 245px;

}
.pet_active .pet__details{
    transform: translateY(5px);
    transition: all 0.3s linear;
    opacity: 1;
}
.pet:hover 
{
   margin-top: 0;
   
}

.pet__img
{
    height: 203px;
    width: 140px;
    transition: all 0.35s;
    pointer-events:none;
}

.pet__details
{
    opacity: 0;
    position: absolute;
    top: calc(64%);
    pointer-events:none;
    margin-left: 23px;
}
.details__text
{
    width: 185px;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
    text-align: left;
}
.details__buttons
{
    margin-top: 13px;
    display: flex;
    pointer-events:auto;
}

.details__button
{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    text-transform: uppercase;

    color: #FFFFFF;
    background: transparent;
    width: 74px;
    height: 24px;

    margin-right: 9px;
}



.details__button-green
{
    width: 113px;
    color: #4BD8B5;

}
.details__button:hover
{
    background: transparent;
    
}

.watch-online__line
{
    position: absolute;
    right: -0px;
    top:590px;
    z-index: 1;
}
.watch-online-line__dots{
    top: 2px;
    left: 0;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content:space-between;

}

.watch-online__progress-bar
{
    position: absolute;
    right:515px;
    top:783px;

}
.watch-online__progress-bar .progress-bar__slider-count
{
    color: #FEFEFE;
}
.watch-online__progress-bar  .progress-bar__slider::-webkit-slider-thumb
{
    background:#FEFEFE ;
}
@media  (max-width:1550px){

    .watch-online__slider{
        right: -780px;
    }
    .watch-online__line{
         right: -210px;
    }

    .watch-online__progress-bar{
        right: 235px;

    }
    .watch-online__slider-wrapper{
        gap: 30px;
    }
}
@media  (max-width:1300px){

    .watch-online__slider{
        top: 410px;
        right: -1125px;
    }
    .watch-online__line{
        top: 615px;
        right: -360px;  
    }

    .watch-online__progress-bar{
        top: 815px;
        right:120px;
    }

    .watch-online__title{
        padding-top: 128px;
    }
    .watch-online__wrapper{
        height: 926px;
    }
        .pet__img{
        height: 261px;
        width: 180px;

    }

    .watch-online__social{
    top: 725px;
}

}
@media  (max-width:1100px){

    .watch-online__title{
        font-size: 64px;
        line-height: 75px;
        padding-top: 122px;
       
    }
}
@media  (max-width:900px){

    
    .watch-online__line{
        top: 590px;
        right: -490px;
    }
    .watch-online__slider{
        top: 385px;
        right: -1190px;
    }

    .watch-online__progress-bar{
        top: 790px;
        right:55px;
    }
}
@media  (max-width:850px) and (min-width:600px){

    .watch-online__wrapper{
        height: 933px;
    }
    .info__wrapper{
        padding: 0 20px;
    }

    .watch-online__button{
    margin-top: 30px;
    }
    .watch-online__social{
        top: 705px;
        left: 20px;

   }

}
@media  (max-width:600px){
    .info__wrapper {
        padding: 0 10px;
    }
    .watch-online__title{
        font-size: 48px;
        line-height: 56px;
        padding-top: 92px;
       
    }


}
@media  (max-width:600px){

    .pet:not(.pets__pet) .pet__img{
        height: 164px;
        width: 113px;
    }
    .pet:not(.pets__pet):hover .pet__img{
        height: 202px;
        width: 140px;
    }
    .watch-online__slider-wrapper{
        height: 200px;
        gap: 9px;
    }
    .pet_active:not(.pets__pet) .pet__img{
        height: 202px;
        width: 140px;
    }
    .watch-online__line{
        top: 458px;
        left: 3px;
    }
    .watch-online__slider{
        top: 370px;
        left: 30px;
    }

    .watch-online__progress-bar{
        top: 593px;
        right: 100px;
    }

    .watch-online__social{
        display: none;

   }
    .watch-online__button{
        margin-top: 15px;
    }   
    .watch-online__wrapper{
        height: 669px;
    }

    .watch-online .pet__details{
        margin-left: 8px;
        top: 36%;
    }
    .watch-online .details__text{
        width: 128px;
        font-size: 12px;
        line-height: 14px;
    }
    .watch-online .details__buttons {
        margin-top: 0px;
        flex-direction: column;
    }
    .watch-online .details__button {
        margin-top: 6px;
        font-size: 10px;
        line-height: 12px;
        justify-content: left;
    }
    .watch-online .progress-bar__slider{

        width: 140px;
        height: 5px;
    }

    .watch-online .progress-bar__slider::-webkit-slider-thumb
    {
        width: 17px;
        height: 10px;

    }
    .watch-online .progress-bar__value{

         line-height: 2px;
    }
    @media  (max-width:350px){
        .watch-online__progress-bar{
            right: 34px;
        }
    
    }
}

/*  How it works
===================*/


.how-it-works
{
    background-color: var(--bg-first);;
}

.how-it-works__wrapper{
    max-width: 790px;
    margin: 0 auto;
    padding: 100px 227px;
    overflow: hidden;
   
}
.how-it-works__title
{

    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;

}
.how-it-works__slider{
    height: 323px;
    overflow: hidden;
    width: 100%;
}
.how-it-works-slider__wripper{
    display: flex;
    transition: all 1s;
}
.how-it-works__text
{
    margin: 30px 0;    
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
   
    color: var(--color-text);
}

.img__wrapper{
    height: 323px;
    flex: 1 0 100%;
}
.how-it-works__img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 0% bottom 50%;
    width: 100%;
    height: 100%;
}
.how-it-works__button
{
    margin: 24px auto 0;
}


.how-it-works__progress-bar
{
    margin-top: 35px;
}
@media  (max-width:1300px){
    .how-it-works__text{
        margin-bottom: 14px;
    }
    .how-it-works__button
{
    margin-top:22px
}

}
@media  (max-width:1150px){
    
    .how-it-works__wrapper{

        padding:  100px 20px 68px;
    
    }
    .how-it-works__text{
        margin-bottom: 31px;
    }
}
@media  (max-width:630px){

    .how-it-works__wrapper{
        padding: 50px 10px;
    }
    .how-it-works__title{
        font-size: 36px;
        line-height: 42px;
    }

}

@media  (max-width:500px){


    .how-it-works__text {
        margin-top: 20px;
    }
    .how-it-works__img{
        background-position: left 8% bottom 50%;
    }
    .how-it-works__progress-bar{
        margin-top: 25px;
    }
    .how-it-works__button {
        margin-top: 12px;
    }

}


/* What's inspiring us
=======================*/

.inspiring
{
    background-color: var(--bg-second);
}

.inspiring__wrapper
{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    text-align: center;
    padding: 100px 150px 132px;

}

.inspire{
    max-width: 380px;
    flex-basis: 33%;
}

.inspire__title
{

    font-weight: 900;
    font-size: 20px;
    line-height: 23px;

    margin-top: 10px;
}
.inspire__text
{
    font-size: 14px;
    line-height: 16px;

    color: var(--color-text);
    text-align: left;
    margin-top: 15px;
}
@media  (max-width:1300px){

    .inspiring__wrapper{
        padding: 100px 150px 116px;
    }

}
@media  (max-width:700px) and (min-width:500px){

    .inspiring__wrapper{
        padding: 100px  177px;
    }

}
@media  (max-width:630px){

    .inspiring__wrapper{
        flex-direction:column;
       align-items: center;
        padding: 50px 10px;
        gap: 32px;
    }
}



@media  (max-width:1100px) and (min-width:630px){

    .inspiring__wrapper{
       flex-direction:column;
       align-items: center;
       gap: 50px;
    }
    .inspire{
        margin-top: 0px;
    }
    .inspire__text {

        margin-top: 16px;
    }

}
/* Pets in  Zoo
=======================*/

.pets
{
    background-color: var(--bg-first);;
    
}


.pets__wrapper
{
    max-width: 1286px;
    margin: 0 auto;
    padding: 100px 106px;
    
}

.pets__title
{
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

}


.pets_progress-bar
{
    margin-top: 30px;
    margin-bottom: 23px;
}
.pets__button
{
    margin: 0 auto;
}
.pets__pet{
    margin-top: 0px;
}
.pets__slider
{
    margin: 0 auto;
    margin-top: 35px;
    display: flex;
    align-items: center;
    overflow: hidden;
    
}
.pets__pet-img
{

  width: 278px;
  height: 399px;
}

.pets__slider-wrapper
{
    min-width: 900px;
    margin: 0 25px;
    text-align: center;
    overflow: hidden;
}
.pets-slider__inner{
    transition: all 1s;
    display: flex;
    gap: 30px;
}

.pets__pet-details
{
    transform: translateY(150px);
    transition: all 0.3s linear;
}
.pets__pet:hover .pet__img
{
    filter: brightness(40%);

}
.pets__pet:hover .pets__pet-details
{
    transform: translateY(5px);
    transition: all 0.3s linear;
    opacity: 1;
    
}
.pets__pet_active .pet__img{
    filter: brightness(40%);
}
.pets__pet_active .pets__pet-details
{
    transform: translateY(5px);
    transition: all 0.2s 0.4s linear;
    opacity: 1;
    
}
.how-it-works__progress-bar__slider::-webkit-slider-thumb
{
    width: 62px;
}
@media  (max-width:1500px){

    .pets__pet-img{
        width: 210px;
        height: 301px;
    }
    .pets__slider{
        max-width: 1020px;
    }
    .pets__pet-details {
        top: 59%;
        margin-left: 9px;
    }
    .pets-slider__inner
    {
        gap: 20px;
    }
    .pets__slider-wrapper{
        width: 908px ;
    }

}
@media  (max-width:1400px){

    .pets__slider {
        margin-top: 34px;
    }
    .pets_progress-bar{
        margin-top: 25px;
        margin-bottom: 26px;
    }
}
@media  (max-width:1198px){

    .pets__wrapper
    {
        padding: 100px 20px;
    }

}
@media  (max-width:1100px){


    .pets__arrow{
        display: none;
    }
    .pets__slider{
        max-width: 900px;
    }
    .pets__slider-wrapper{
        margin: 0;
    }
    .pets_progress-bar{
        margin-top: 35px;
        margin-bottom: 26px;
    }
    .pets__slider {
        margin-top: 37px;
    }

}

@media  (max-width:500px){


    .pets__title {
        font-size: 36px;
        line-height: 42px;

    }
    .pets__slider {
        margin-top: 29px;
    }
    .pets__wrapper {
        padding: 100px 10px 50px;
    }
    .pets-slider__inner {
        gap: 16px;
    }
    .pets_progress-bar {
        margin-top: 30px;
        margin-bottom: 18px;
    }
}

/*  Pay and feed
=======================*/

.pay
{
    background-color: var(--bg-second);
}
.pay__wrapper
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 150px;

    text-align: center;

}

.pay__title
{

    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
}

.pay__text
{

    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: var(--color-text);
    margin-top: 30px;
}
.pay__cards
{
    margin-top: 92px;
    margin-bottom: 56px;
    display: flex;
    gap: 17px;
    justify-content: space-between;
    align-items: center;
  
}
.pay__card
{
    min-width: 245px;
    min-height: 245px;
    border: 2px double  #4BD8B5 ;
    border-radius: 50%;
    text-align: center;
}

.pay__button
{
    margin: 0 auto;
}

.card__title
{
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;

    margin: 0 auto;
    margin-top: 15px;
    max-width: 134px;

}

.card__img
{
    margin-top: 65px;
}
.pay__arrow
{
    max-width: 107px;
    overflow: hidden;
}

@media (max-width:1300px){

    .pay__cards{
        margin-top: 50px;
        
    }
}
@media  (max-width:1170px){

    .pay__cards{
        flex-direction: column;
        gap: 40px;
        margin-bottom: 46px;
    }
    .pay__arrow{
        transform: rotate(90deg);
    }
    .pay__wrapper{
        padding: 100px 50px;
    }
    .pay__text{
        margin-top: 15px;
    }
    .pay__arrow{
          max-width: 40px;
    }
}

@media  (max-width:400px){

    .pay__title{
        font-size: 36px;
        line-height: 42px;
    }
    .pay__wrapper{
        padding: 50px 38px;
    }
    .pay__text{
        display: none;
    }
    .pay__cards{
        margin-top: 30px;
        margin-bottom: 36px;
    }


}

/*  Testimonials
=======================*/

.testimonials
{
    background-color: var(--bg-first);
}

.testimonials__wrapper
{
    max-width: 1288px;
    margin: 0 auto;
    padding: 100px 106px;
    text-align: center;
}
    

.testimonials__title
{
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

}

.testimonials__slider
{
    margin: 0 auto;
    margin-top: 58px ;
    display: flex;
    align-items: center;
    justify-content: center
}
.testimonial
{
    max-width: 585px;
    background-color: var(--bg-third);
    padding: 47px 72px 106px;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
    border-radius: 5px;

  
}
.testimonial__wrapper
{
    width: 440px;
    margin: 0 auto;
}
.testimonial__title
{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    


    margin: 15px 0 16px;
}
.testimonial__text
{
    
    font-family:"Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align : left;

    color: var(--color-text);
}

.testimonial__img
{
    margin-top: 0px;
    border-radius: 50%;
}
.testimonials__slider-wrapper
{
    width: 1260px;
    margin: 0  20px;
    overflow-x: hidden;
    overflow-y: visible;

    
}
.testimonials-slider__inner{
    display: flex;  
    gap: 30px;
    transition:  0.1s linear;

    padding: 2px 4px 15px
}
.testimonials__progress-bar
{
    margin-top: 40px;
}

.testimonial__button
{
    margin: 20px auto 0;
    
}
@media  (max-width:1510px){
    
    .testimonials-slider__inner{
    gap: 20px;

    }
    .testimonial__wrapper{

        width: 326px;
    }
    .testimonial{
    padding: 49px 56px 88px;
  
    }

    .testimonials__slider-wrapper{
        width: 910px;
    }
}
@media  (max-width:1150px){

    .testimonials__wrapper
    {
        padding: 100px 25px;

    }
    .testimonials__arrow{
        display: none;
    }
    .testimonials__slider{
        margin-top: 46px;
    }



    
}

@media  (max-width:1000px){
    .testimonials__slider{
        width: 600px;
    }
    .testimonials__slider-wrapper{
        width: 600px;
        margin: 0;
    }
    .testimonial{
        padding: 47px 73px 106px;
    }
    .testimonial__wrapper {
        width: 440px;
    }

}

@media  (max-width:639px){

    .testimonial{

        padding: 50px 14px 112px;
    }
    .testimonial__wrapper {
        width: 272px;
    }

    .testimonials__slider{
        width: 310px;
    }
    .testimonials__slider-wrapper{
        width: 310px;
    }
    

}

@media  (max-width:500px){


    .testimonials__wrapper
    {
        padding: 50px 10px;
    }
    .testimonials__slider-wrapper{
        margin: 0px;
       
    
        }
        .testimonials__slider{
            margin-top: 36px;
      }
    .testimonial{

            padding: 50px 14px 112px;
        }
    .testimonials__title{
         font-size: 36px;
        line-height: 42px;
    }
    .testimonial__title {

        margin:40px 0 19px;
    }
    .testimonials__progress-bar{
        margin-top: 45px;
    }
    .testimonial__button {
        margin-top: 11px;
    }

}

/*  Map
=======================*/


.map
{
    background-color: var(--bg-second);
}

.map__wrapper
{
    margin: 0 auto;
    padding: 100px 150px;
    text-align: center;
}
.map__title
{

    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    margin-bottom: 60px;
}


.map__geogr-map{
    margin: 0 auto;
    max-width: 1200px;
}
.geogr-map__wrapper
{
    position: relative;
    max-width: 1200px;
    max-height: 498px;
    height: auto;
}


.map__img path{
    fill: var(--color-fill);
}

.map__img .pathActive{
    fill: var(--color-fillActive);
    stroke: var(--color-stroke);
}

.placeholder-img
{
    fill: url(#paint0_linear);
    height: 94px;
    width: 67px;

}

.geogr-map__placeholder
{
    position: absolute; 
    
}

.placeholder_eagle
{
    top: calc(33% - 93px);
    left: calc(13.3% - 40px)
    
}
.placeholder_panda
{
    top: calc(37% - 93px);
    left: calc(77.9% - 40px)

}
.placeholder_alligator
{
    top: calc(38.7% - 93px);
    left: calc(23.7% - 40px)
}
.placeholder_gorilla
{
    top: calc(56% - 93px);
    left: calc(51% - 40px)
}
.placeholder__img
{

    position: absolute;
    top: 13px;
    left: 15px;
}
.map__button
{
    margin: 0 auto;
    margin-top: 35px;
}
.tooltip__pit-img
{
    height: 65px;
    width: 65px;
}
.geogr-map__placeholder:hover
{
    cursor: pointer;
}
.geogr-map__placeholder:hover .placeholder__tooltip
{
    visibility:visible;
    opacity:1;
}

.geogr-map__placeholder:hover .placeholder-img
{
    animation-name: fillAnimation;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}


@keyframes fillAnimation {
    from {
        fill: #49D6DF;
    }
    to {
        fill:#EB5757;
    }
}
.placeholder__tooltip
{
    visibility:hidden;
    opacity:0;
    transition:  .3s linear;

    position: absolute;
    width: 436px;
    height: 149px;

    background: var(--bg-first);
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
    border-radius: 8px;
    top: 70px;

    display: flex;
    align-items: center;  
    justify-content: center; 
    z-index: 4;
}
.placeholder_eagle .placeholder__tooltip
{
    left: -380px;
        
}
.placeholder_panda .placeholder__tooltip {
    left: 20px;
}
.placeholder_alligator .placeholder__tooltip 
{
    left: -380px;
}
.placeholder_gorilla .placeholder__tooltip {
    left: 20px;
}
.tooltip__wrapper
{
    margin: auto 0;
    display: flex;
    align-items: center;    
}
.tooltip__details
{
    text-align: left;
    margin: 0 15px;
}

.tooltip__title
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    margin: 7px 0;
}
.tooltip__info
{
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin: 5px 0;
 
    color: var(--color-text);
}
.tooltip__info-name
{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--color);

}

@media  (max-width:1150px){

    .map__wrapper{
        padding: 100px 20px  80px;
    }
    .map__title{

        margin-bottom: 50px;
    }
    .map__button {
        margin-top: 30px;
    }

}

@media  (max-width:1500px){


    .geogr-map__wrapper
    {
        aspect-ratio: 2.06/1;
    }
    .placeholder_eagle .placeholder__tooltip,
    .placeholder_alligator .placeholder__tooltip 
    {
        left: 20px;
        
    }
    .placeholder_panda .placeholder__tooltip {
        left: -380px;
    }

    .placeholder_gorilla .placeholder__tooltip {
        left: -100px;
    }
    .map__button{

        margin-top: 28px;
    }
}

@media  (max-width:600px){

    .map__geogr-map{
        padding: 0 10px;
    }
    .map__wrapper{
        padding: 50px 0 60px;
    }
    .map__title{

        font-size: 36px;
        line-height: 42px;
        margin-bottom: 30px;
    }
    .placeholder-img {
        width: 33px;
        height: 46px;
    }
    .placeholder__img {
        width: 19px;
        height: 19px;
        top: 7px;
        left: 11px;
    }

    .tooltip__wrapper {
        margin: auto 15px;
        align-items: flex-start;
    }
    .tooltip__details {
        margin: 0 9px  0 8px;
    }
    .placeholder__tooltip{
        width: 238px;
        height: 113px;

    }
    .tooltip__title{
        font-size: 14px;
        line-height: 16px;
    }
    .tooltip__info,
    .tooltip__info-name{
        font-size: 11px;
        line-height: 13px;
    }

    .tooltip__pit-img{
        width: 40px;
        height: 40px;
    }
    .placeholder_eagle .placeholder__tooltip{
            top: 50px;
            left: 10px;
            z-index: 999;
    }
    .placeholder_alligator .placeholder__tooltip{
            top: 50px;
            left: -30px;
            z-index: 1;
    }

    .placeholder_panda .placeholder__tooltip{
            top: 50px;
            left: -180px;
    }
    .placeholder_gorilla .placeholder__tooltip{
        top: 40px;
        left: -100px;
}


    .placeholder_panda {
        top: calc(37% - 47px);
        left: calc(76.9% - 19px);
    }
    .placeholder_eagle{
        top: calc(33% - 47px);
        left: calc(13.3% - 19px)    
    }

    .placeholder_alligator{
        top: calc(36.7% - 47px);
        left: calc(22.5% - 19px)
    }
    .placeholder_gorilla{
        top: calc(56% - 47px);
        left: calc(50.5% - 19px)
    }

    .map__button{
        margin-top: 27px;
    }
}
/*  Footer
=======================*/

.footer
{
    background-color: #333333;
    position: relative;
}


.footer__wrapper
{
    max-width: 1620px;
   padding: 0 150px;
    padding-top: 97px;
    margin: 0 auto;
    position: relative;
}
.footer__info
{

    max-width: 1200px;
    margin-right: 60px;
    
}

.footer__items{
    gap:73px;
    color: #FEFEFE;
}
.footer-nav__link{
    color: #FEFEFE;
}
.footer__logo_and_nav
{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}
.footer__logo .logo__title{
    color:#FEFEFE;
}
.footer__form
{
  margin-top: 60px;
  width: 383px;
  margin-right: 75px;
  
}

.footer__contact
{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    
}
.footer__logo
{
    max-width: 58px;
    color: #FEFEFE;
}
.contact-us__field
{
    width: 383px;
    height: 35px;
    background-color: transparent;
    margin-bottom: 10px;
    padding: 0;
    border: 0px;
    border-bottom: 1px solid #BDBDBD;


    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #E0E0E0;
    outline: none;
}

.contact-us__title
{
    margin-bottom: 23px;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    

    /* base */

    color: #FEFEFE;
}

.fieldset__message
{

    font-weight: normal;
    font-size: 12px;
    line-height: 14px;


    color: #BDBDBD;
    
    margin:12px 0;

    padding: 0 3px;
    border-radius: 3px;
}

.contact-us__message
{
    
    height: 103px;
    width: 370px;
    padding: 0;
    margin: 0;  
    border: 0;
    outline: none;
    background-color: transparent;
    resize: none;


    font-weight: normal;
    font-size: 12px;
    line-height: 14px;



    color: #BDBDBD;
}


    .checkbox__wrapper
    {
        margin-top: 25px;
        display: flex;
    }

  
  .contact-us__checkbox
   {
    appearance: none;
    -webkit-appearance: none;
    content: '';
    width: 13px;
    height: 13px;

    border: 1px solid #838383;
    border-radius: 1px;
    background-color: transparent;
    cursor: pointer;
    outline: none;

    margin: 0px;
    margin-right: 5px;
  }

  .contact-us__checkbox:checked
  {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e")
  }

    .checkbox__text
    {
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #BDBDBD;
    }
  .contact-us__checkbox:checked::after
  {
      display: block;
  }


.contact-us__button
{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    padding-right: 15px;
    color: #FEFEFE;
    background: transparent;
    width: 125px;
    justify-content: space-between;
    float: right;
}
.contact-us__button:hover
{
    background: transparent;
}
.footer__adress
{
    padding-top: 4px;
    width: 380px;
    color: #FEFEFE;
}

.footer__button
{
    margin-top: 3px;
    width: 275px;
    font-weight: 500;
}

.footer__button_first{
    position: absolute;
    top: 96px;
    right: 150px;
}
.footer__button_second{
    margin-top: 32px;
    display: none;
}


.adress
{
    max-width: 190px;
    color: #FEFEFE;
}

.adress__title
{
    margin-top: 57px;
    margin-bottom: 30px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    }


    .adress__text
    {
        margin-bottom: 17px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;

    }

    .adress__contact
    {
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-decoration: none; 
        color: #FEFEFE;

    }

    .social{
        margin-top: 20px;
    }

    .footer__social
    {
        display: flex;
        
    }
    .footer__link
    {
         margin-left: 15px;
    }
    .social__link:hover
    {
        cursor: pointer;
    }
    .social__link:first-child
    {
        margin: 0;
    }


    .footer__copyright
    {
        margin-top: 40px;
        border-top: .5px solid #FEFEFE;
        padding-top: 25px;
        height: 107px;
    }
    .copyright__text
    {
        margin-top: 5px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;

        color: #BDBDBD;
    }

    @media  (max-width:1000px){
        .footer__contact,
        .footer__items {
            flex-direction: column;
            margin-top: 29px;
            gap: 5px;
        }
        .footer__contact{
            margin-top: 0px;
        }
        .footer__logo_and_nav{
            display: block;
        }
        .footer__adress{
            max-width: 200px;
            padding-top: 7px;
        }
        .footer__button_first{
            display: block;
            right: 20px;
            top: 93px;
        }
        .footer__button_second{
            display: none;
        }
        .footer__form{
            margin-top: 6px ;
        }

        .footer__copyright{
            margin-top: 65px;
            height: 84px;
        }
        .contact-us__title{
            margin-bottom: 28px;
        }
        .checkbox__wrapper{
            margin-top: 20px;
        }
        .footer__adress {
            padding-top: 7px;
        }
    }

    @media  (max-width:1180px){
        .footer__wrapper{
            padding: 0 21px;
            padding-top: 93px;
        }
        .adress__title{
            margin-top: 45px;
        }
    }
    @media  (max-width:460px){
        .footer__wrapper{
            padding: 0 10px;
            padding-top: 45px;
        }
        .footer__form,
        .contact-us__field{
            width: 299px;
        }
        .footer__form{
            margin-top: 9px;
        }
        .contact-us__message{
            width: 286px;
        }
        .footer__button_first{
            display: none;
        }
        .footer__button_second{
            margin-top: 40px;
            margin-left: 14px;
            display: block;
        }
        .footer__nav{
            margin-top: 42px;
        }
        .footer__nav .nav__link{
            color: #FEFEFE;
        }
        .adress__title {
            margin-top: 25px;
        }   
        .footer__copyright {
            margin-top: 78px;
            height: 63px;
        }
        .contact-us__button {

            padding-right: 0;
            width: 110px;
         }
         .contact-us__title{
            margin-bottom: 24px;
        }
    }
    @media  (max-width:1780px) and (min-width: 1000px){

        .footer__button_first{
            display: none;
        }
        .footer__button_second{
            display: block;
        }
        .footer__wrapper{
            padding-top: 103px;
        }
        .footer__form {
            margin-top: 52px;
        }
        .contact-us__title {
            margin-bottom: 26px;
    }
    .adress__title {
        margin-top: 39px;
        margin-bottom: 30px;

    }
}
    @media  (max-width:1500px) and (min-width:1000px) {

        .footer__copyright{
            height: 92px;
        }

    }


.popup{
    position: fixed;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;

    overflow: auto;
    
}

.popup__wrapper{
    width: 1200px;
    height: 795px;
    background: var(--bg-second);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   position: relative;
    display: flex;
 
}
.popup__aside{
    background: url("../../assets/images/popup-aside.png") no-repeat;
    background-size: cover;
    width: 197px;
    height: 795px;
}
.popup__main{
    padding: 100px 139px 78px;
}
.popup__title{
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
}   
.form__wrapper{
    display: flex;
    gap: 30px;
}

.popup__form_fieldset{
    width: 317px;
    height: 62px;
    border:1px solid var(--color-text);
    border-radius: 5px ;
    margin: 0;
    padding: 0 8px;

}

.popup__form_legend{
    font-style: medium;
    font-size: 14px;
    line-height: 16px;
    padding-left: 1rem;
    padding-right: 0.7rem;
}

.popup__form_input{
    width: 90%;
    height: 37px;
    border: 0;
    color: var(--color-text);
    background: transparent;
    outline: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    margin-left: 18px;
    
    appearance: none;
    
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.popup__form_option{
    background-color: var(--bg-second);
}

.form__wrapper_up{
    margin-bottom: 40px;
}
.form__wrapper_column{
    flex-direction: column;
    gap: 21px;
}

.popup-form__title{
    font-size: 18px;
    line-height: 21px;
}
.option_form{
    width: 25%;
}
.form-input__select{
    appearance: none;
    background: url("../../assets/icons/form-arrow.png") no-repeat right center;
}
.fieldset_phone{
    display: flex;
}
.fieldset_expiry{
    display: flex;
}
.option__expiry{
    width: 40%;
}
.option__expiry_right{
    padding-left: 20px;
    width: calc(40% + 10px);

    border-left: 1px solid  ;
}

.form__input_right{
    border-left: 1px solid;
    padding-left: 10px;
}

.form__text{
    max-width: 478px;
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
    margin: 40px auto;
    text-align: center;

}
.form__button{
    margin: 0 auto;
}
datalist{
    display: block;
}

.popup__button_close{
    position: absolute;
    top:20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: 2px  solid var(--color-text);
    border-radius: 6px;
    background-color: var(--bg-second);
    cursor: pointer;
}
.popup__button_close:before{

    content: ' ';
    height: 2px;
    width: 34px;
    position: absolute;
    top: 20px;
    left: 3px;
    background-color: var(--color-text);
    transform: rotate(45deg);
}




.popup__button_close:after{

    content: ' ';
    height: 2px;
    width: 34px;
    position: absolute;
    top: 20px;
    left: 3px;
    background-color: var(--color-text);
    transform: rotate(-45deg);
}



@media  (max-width:1190px)  {
    .popup__wrapper{
        width: 600px;
        height: 1243px;
        transform: translate(-50%, -39%);
    }

    .popup__aside{
        width: 164px;
        height: 1243px;
        background-position: 20% center;
    }
    .form__wrapper_up{
        flex-direction: column;

        margin-bottom: 35px;
    }


    .form__wrapper_down{
        flex-direction: column;
    }

    .popup__main{
        padding: 105px 80px 129px 61px ;
    }
    .form__text{
        margin: 35px auto
    }
}


@media  (max-width:639px)  {
    .popup__wrapper{
        width: 320px;
        height: 1243px;
        transform: translate(-50%,-35%);
    }

    .popup__aside{
        width: 0px;
    }


    .popup__main{
        padding: 105px 20px 159px 20px ;
    }
    .popup__form_fieldset{
        width: 262px;
    }
}


