@import "../../styles.scss";
.game {
  min-width: 1000px;
  min-height: 100%;
  box-sizing: border-box;
  display: flex;

  align-items: center;
  flex-direction: column;

  background-color: $transparent_black;
  padding-top: 20px;
}
