.game {
  min-width: 1000px;
  min-height: 100%;
  box-sizing: border-box;
  display: flex;

  align-items: center;
  flex-direction: column;

  background-color: rgba(0, 0, 0, 0.05);
  padding-top: 20px;
}
