@import "../../../styles.scss";
.winScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $transparent_black;
}

.winScreen__wrapper {
  width: 360px;
  height: 110px;
  position: relative;
  top: 50%;
  left: 50%;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  padding: 8px;
}
.winScreen_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  margin-top: 20px;
  margin-bottom: 8px;
}
