@import "../../../styles.scss";
.aboutGame {
  margin: 0 auto;
  min-width: 1000px;
  min-height: 800px;
  background: $transparent_black;
  padding: 30px 180px 0px 25px;
  box-sizing: border-box;
}

.text {
  font-family: $Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  color: $black;

  margin-bottom: 20px;
}
.howtoplay__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.howtoplay__section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
