$black: black;
$white: white;
$yellow: yellow;
$red: red;
$dodgerblue: dodgerblue;
$lightblue: rgb(192, 226, 247);
$grey: grey;
$green: rgb(222, 250, 181);
$darkgreen: rgb(169, 255, 41);
$Roboto: "Roboto";

.body {
  background-color: $black;
}
