@import "../../styles.scss";
.MainCard {
  width: 250px;
  aspect-ratio: 1/1;
  cursor: pointer;
  background: no-repeat center 10%/70% $white;
  position: relative;
  border-radius: 10%;
  box-shadow: -10px 15px 30px -12px $black;
  transition: 0.3s;
}
.MainCard:hover {
  box-shadow: -10px 15px 30px -12px $rose;
}
.MainCard__info {
  font-family: $Roboto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  font-size: 40px;
  margin: 0;
}
